<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
    </startup>
    <connectionStrings>
        <add connectionString="Server=10.176.3.122;Database=drivertest;Uid=drivertest;Pwd=Uqfq35hm4bU9NqTD;" name="deft"/>
    </connectionStrings>
</configuration>